body { background: #8006c2; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 43px; display: flex; }
.block-notify-0 { color: #a0c27b; font-size: 20px; margin-bottom: 5px; }
.block-cart-1 { color: #8811dc; font-size: 14px; margin-bottom: 5px; }
.block-user-2 { color: #81304; font-size: 12px; margin-bottom: 5px; }
.block-router-3 { color: #a389ed; font-size: 13px; margin-bottom: 5px; }
.block-sms-4 { color: #748fcc; font-size: 18px; margin-bottom: 5px; }
.block-cluster-5 { color: #23032c; font-size: 18px; margin-bottom: 5px; }
.block-helper-6 { color: #3e9847; font-size: 18px; margin-bottom: 5px; }
.block-user-7 { color: #bd7d3f; font-size: 13px; margin-bottom: 5px; }
.block-cache-8 { color: #9c8065; font-size: 18px; margin-bottom: 5px; }